<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <title>neos.typo3.org</title>

    <link rel="stylesheet" href="../../../Public/Css/Bootstrap/bootstrap.css" media="all" />
    <link rel="stylesheet" href="../../../Public/Css/Bootstrap/responsive.css" media="all" />
    <link rel="stylesheet" href="../../../Public/Css/includes.css" media="all" />
    <link rel="stylesheet" href="../../../Public/Css/popups.css" media="all" />
    <link rel="stylesheet" href="../../../Public/Css/print.css" media="print" />
    <!--[if lte IE 8]><link rel="stylesheet" href="../../../Public/Css/ie8.css" media="all" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="../../../Public/Css/ie9.css" media="all" /><![endif]-->

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>

    <script src="../../../Public/Scripts/bootstrap.js"></script>
    <script src="../../../Public/Scripts/modernizr-custom.neos.min.js"></script>
    <script src="../../../Public/Scripts/jquery.networkteam.deviceReady.js"></script>
    <script src="../../../Public/Scripts/jquery.neos.jump-navigation.js"></script>
</head>
<body>

<!-- Rendering BEGIN -->
<f:section name="content">
    <div class="full-height">

        <header>
            <div id="header">
                <div class="container">
                    <div id="metanav" class="row">
                        <div class="span12">
                            <nav>
                                <ul class="nav metanav pull-right">
                                    <li><a href="">neos.typo3.org</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div id="nav" class="row shadow navbar navbar-static-top">
                        <div class="span12">
                            <button type="button" class="pull-right" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <a href="#" id="logo">
                                <img src="../../../Public/Images/neos-logo.png" alt="TYPo3 Neos" />
                            </a>

                            <nav>
                                <div class="nav-collapse collapse">
                                    <ul class="nav">
                                        <li><a href="#">Home</a></li>
                                        <li class="active"><a href="#">Features</a></li>
                                        <li>
                                            <a href="#">Contribute</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Events</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Documentation</a></li>
                                        <li><a href="#">Roadmap</a></li>
                                        <li><a href="#">Work Packages</a></li>
                                        <li><a href="#">FAQ</a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="section grey border-top teaser">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h1>What Makes Neos Special</h1>
                        <div class="dynamic-columns">
                            <p>TYPO3 Neos is not just another CMS. Instead, the TYPO3 Community has created it based on the previous experiences. It's not the first CMS built, but instead there is a big amount of knowledge which has accumulated over the last 15 years.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <nav>
            <div id="jump-navigation" class="section orange menu">
                <div class="container">
                    <div class="row">
                        <div class="span12">
                            <div class="navbar">
                                <ul class="nav pull-left" role="navigation">
                                    <li class="csc-section">
                                        <a href="#c1" target="_self" title="Developer Happiness For The World">Developer Happiness For The World</a>
                                    </li>
                                    <li class="csc-section">
                                        <a href="#c2" target="_self" title="Based On A Robust Foundation: TYPO3 Flow">Based On A Robust Foundation: TYPO3 Flow</a>
                                    </li>
                                    <li class="csc-section">
                                        <a href="#c2" target="_self" title="Built for Extensibility">Built for Extensibility</a>
                                    </li>
                                    <li class="csc-section">
                                        <a href="#c3" target="_self" title="In-Page Editing">In-Page Editing</a>
                                    </li>
                                    <li class="csc-section">
                                        <a href="#c3" target="_self" title="The Content Repository">The Content Repository</a></li>
                                    <li class="csc-section">
                                        <a href="#c4" target="_self" title="Much More Than A CMS">Much More Than A CMS</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <script>jQuery(function($){$('#jump-navigation').neosJumpNavigation();});</script>
            </div>
        </nav>

        <div class="section grey-middle" id="c1">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h3>Developer Happiness For The World</h3>
                        <p>We know that a website does not only contain static parts. In today's world, you often integrate external services, have to model complex business logic or tweak the output of the website in a very fine-grained way. That's why our main goal is developer happiness. We want you to be effective, being able to re-use concepts and code across your websites.</p>
                        <p>Of course, that is no free ride: You need to learn the concepts used in Neos. However, by implementing established practices in software development, your knowledge can be applied to a wide variety of languages, frameworks and use-cases. We want to help you become better programmers!</p>
                        <p>The Learn Once, Run Everywhere Philosophy is the main guidance principle for the development of Neos. All components are usable inside the CMS context, but also in stand-alone web applications. That of course also includes your own components.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section grey" id="c2">
            <div class="container">
                <div class="row">
                    <div class="span6 c-1">
                        <h3>Based On A Robust Foundation: TYPO3 Flow</h3>
                        <p>If Neos was a car, TYPO3 Flow were its main engine. It powers many foundational features for building extensible and adjustable web applications of today, such as Dependency Injection, Aspect-Oriented Programming and a unique Model-View-Controller Framework. And best of all: Everything is usable directly in Neos, should you ever need it.</p>
                        <p>TYPO3 Flow has first-class support for Domain-Driven Design: It helps you to focus on the problem domain of your customer, shielding you from implementation details until you need them. Worried about form validation, security, file-uploads or logging? All directly built into Flow. Couple that with powerful, composer-based package management and a doctrine-based persistence layer, and you can build on the shoulders of giants.</p>
                        <p>You might wonder whether it was worth to develop TYPO3 Flow from scratch. But if you try it out and experience the flow-feeling of development, you will see what we mean with it.</p>
                    </div>
                    <div class="span6 c-2">
                        <h3>Built for Extensibility</h3>
                        <p>TYPO3 Neos can easily be extended with plugins, which are just standard packages of TYPO3 Flow with a little extra configuration.  The same works for backend modules. By using convention over configuration, the required settings you need to do boils down to a minimum.</p>
                        <p>Of course we know that the there's one thing where you need full control: The rendering of your website. In Neos, a custom package called Typoscript powers the rendering process, allowing for fine-grained control over the output. No need to override complete templates or hack the source.</p>
                        <p>If you know Typoscript from the old days in TYPO3 CMS, rest assured that it has changed a lot. It has not only been re-built, but re-thought from scratch and is now object-oriented, consistent and much more powerful than before.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="section orange" id="c3">
            <div class="container">
                <div class="row">
                    <div class="span6 c-1">
                        <h3>In-Page Editing</h3>
                        <div class="box-transparent-dark">
                            <p>Don't explain anymore how editing works. Just discover it yourself! All content is directly edited on the page, just styled like the live content. Powered by Aloha Editor and Hallo Editor, you'll directly see what you write, just as the end-user does.</p>
                            <p>Furthermore, the editing is based on semantic technologies such as RDFa, which is consumed using VIE and Create.js. This allows to expose the whole content of your website in a machine-readable way, making it easy to integrate with the rest of the web.</p>
                            <p>You also see Neos is not just developed by the core team, but we're also using and contributing to other, shared projects.</p>
                        </div>
                    </div>
                    <div class="span6 c-2">
                        <h3>The Content Repository</h3>
                        <div class="box-transparent-dark">
                            <p>While Neos still stores its data in a relational database, you won't access this directly when working with content. Instead, we're using a tree-based approach of storing content which we call the TYPO3 Content Repository (TYPO3CR). This tree enables you to not only structure your content using a page tree, but also nest content into other content in a page.</p>
                            <p>Furthermore, the Content Repository allows you to easily create new content elements, just using a Fluid Template, one line of Typoscript and a few lines of configuration.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section white" id="c4">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <h3>Much More Than A CMS</h3>
                            <p>Your project does not stop when the site is finished: You need to deploy it to your live site. That's why there is a tool called Surf which you can use to put your site online. Hint: It's especially suited for integration with CI servers like Jenkins!</p>
                        <p>Furthermore, you'll also need tools for development and debugging: The Debug Toolbar shows a detailed insight of what's going on in your requests, and Plumber is the tool for profiling bottlenecks. We use these tools ourselves, to debug, profile and deploy Neos and Flow.</p>
                        <p>By not only providing the framework, but also best-practices and tools, you can base your projects upon the experiences of the Neos team. This - again - helps you to stay focussed on your target.</p>
                        <h4 class="centered">
                            <strong>Fire It Up for a Test Drive</strong>
                            Check out the download yourself, and try it out. Make sure to give us some feedback, either on our Mailing Lists or in IRC.</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="push"><!--//--></div>
    </div>



    <footer>
        <div id="footer">
            <f:cObject typoscriptObjectPath="lib.footer" />
        </div>
    </footer>
</f:section>
<!-- Rendering END -->
</body>
</html>