@media (max-width: 979px) {

	//dont do any affix at all
	.affix {
		position: static !important;
	}

	//hide #jump-navigation when its cloned via javascript & show cloned navs instead
	.section.menu.cloned {
		display: block;
	}
	.cloned-hidden {
		display: none;
	}


	//make sure nothing breaks out of sections
	.section {
		overflow: hidden;
	}
	//but show overflow on stage
	.section-stage {
		overflow: visible;
	}

	//nav-collapse styles
	#header #nav {
		margin-top:10px;
		margin-bottom:10px;

		button {
			display: block;
			margin-top: 8px;
			padding: 8px 20px;
			background-image: none;

			.icon-bar {
				background-image: none;
				display: block;
				width: 18px;
				height: 2px;
				background-color: #f5f5f5;
				@include border-radius(1px);
				@include box-shadow(0 1px 0 rgba(0,0,0,.25));
			}
			.icon-bar + .icon-bar {
				margin-top: 3px;
			}
		}
		.nav-collapse .mainnav {
			li {
				> a {
					padding: 15px;
					margin-bottom: 0px;
					font-family: $font-ci-bold;
					font-weight: normal;
				}

				&:hover,
				&.active {
					> a {
						color: $color-ci-orange;
						background: $grey9;
						@include border-radius(0px 0px);
						@include box-shadow(none);
					}

					//never show the arrow-icon
					> span {
						display: none;
					}
				}

				ul {
					display: block;
					position: static;
					z-index: 1;
					background: none transparent;
					@include box-shadow(none);
					@include border-radius(0px 0px);
					width: 100%;

					li {
						width: 100%;
						a {
							color: #777777;
							background: none transparent;
							padding: 10px 10px 10px 30px;
							font-weight: normal;
						}

						&:hover,
						&.active {
							a {
								color: $color-ci-orange;
								background: $grey9;
								@include border-radius(0px 0px);
								@include box-shadow(none);
							}
						}
					}
				}
			}
		}
	}

	//jump-navigation
	.section.menu .navbar {
		position: relative;
		padding-right: 35px;

		.to-top {
			position: absolute;
			top: 13px;
			right: 0px;
			margin-top: 0px;
		}

		.nav {
			height: auto;
		}
	}

	//disable .pull-top on quotes
	.section .quote.quote-pull-top {
		margin-top: 0px;
	}

	//disable resizing on enkey-animation
	.enkey-animation-container.activated {
		.enkey-animation-slide.span3 {
			img {
				width: 97%;
				margin: 0px auto;
				@include box-shadow(black 0px 10px 10px -10px);
			}

			&.active,
			&:hover {
				img {
					@include opacity(1);
				}

				p {
					bottom: 10px;
				}
			}
		}
	}

	// powermail styles
	.tx-powermail {
		.powermail_fieldwrap_check {
			label {
				width: 90%;
			}
		}
	}
}