<f:layout name="mainLayout" />

<!DOCTYPE html>
<html lang="de">
<head>
	<meta charset="utf-8">
	<title>en:key</title>
</head>
<body>

<!-- Rendering BEGIN -->
<f:section name="content">
	<div class="full-height home">

		<f:render partial="Pages/header" />

		<div class="section grey-middle section-stage">
			<div class="container">
				<div class="row">
					<div class="span12" id="stage">
						{stage -> f:format.raw()}
					</div>
				</div>
			</div>

			<span class="overlay"></span>
		</div>

		{content -> f:format.raw()}

		<div class="push"><!--//--></div>
	</div>



	<footer>
		<div id="footer">
			<f:cObject typoscriptObjectPath="lib.footer" />
		</div>
	</footer>
</f:section>
<!-- Rendering END -->
</body>
</html>