<div class="enkey-animation-container row-fluid">
	<div class="enkey-animation-inner">
		<div class="enkey-animation-slide span3">
			<f:image alt="" src="uploads/fce/{first_image}" width="240c" height="190c" />
			<f:format.html>{first_text}</f:format.html>
		</div>
		<div class="enkey-animation-slide span3">
			<f:image alt="" src="uploads/fce/{second_image}" width="240c" height="190c" />
			<f:format.html>{second_text}</f:format.html>
		</div>
		<div class="enkey-animation-slide span3">
			<f:image alt="" src="uploads/fce/{third_image}" width="240c" height="190c" />
			<f:format.html>{third_text}</f:format.html>
		</div>
		<div class="enkey-animation-slide span3">
			<f:image alt="" src="uploads/fce/{fourth_image}" width="240c" height="190c" />
			<f:format.html>{fourth_text}</f:format.html>
		</div>
	</div>
</div>
<script>
	jQuery(function($){$('.enkey-animation-container').enkeyAnimationContainer()})
</script>