<div class="row stage-divided">
	<div class="span6 c-1">
		<f:image alt="{left_image_alt}" src="uploads/fce/{left_image}" width="400c" height="330c" />
		<div class="popover fade bottom in">
			<div class="arrow"></div>
			<div class="popover-inner">
				<div class="popover-content">
					<f:format.html>{left_text}</f:format.html>
				</div>
			</div>
			<div class="popover-bottom"></div>
		</div>
	</div>
	<div class="span6 c-2">
		<f:image alt="{right_image_alt}" src="uploads/fce/{right_image}" width="400c" height="330c" />
		<div class="popover fade bottom in">
			<div class="arrow"></div>
			<div class="popover-inner">
				<div class="popover-content">
					<f:format.html>{right_text}</f:format.html>
				</div>
			</div>
			<div class="popover-bottom"></div>
		</div>
	</div>
	<span class="stage-arrow"></span>
</div>